.header {
  margin-top: 60px;
}


.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  padding: 0 80px;
  flex-grow: 1;
}

.header__logo {
  color: $blue;
  font-size: 24px;
}
